body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue'
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #121213;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
	background-color: #121213;
	color: white;
}

.outer-container {
	display: block;
	justify-content: center;
	max-width: 100%;
}

.main-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	border-bottom: 1px solid #606164;
	height: 50px;
	padding: 0 16px;
	justify-content: space-evenly;
}

.daily-info {
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	display: inline;
	margin: 0;
	padding-top: 20px;
	overflow-wrap: break-word;
	align-items: center;
	text-align: center;
	max-width: 100%;
	height: auto;
}

.main-header .title {
	font-family: Helvetica, sans-serif;
	font-weight: 800;
	font-size: 37px;
	line-height: 100%;
	letter-spacing: 0.01em;
	text-align: center;
	margin: 0;
	left: 0;
	right: 0;
	pointer-events: none;
}

.header-menus {
	display: flex;
	width: 70px;
	font-size: 2em;
	justify-content: flex-end;
}

.main-container {
	display: block;
}

.word-row {
	display: flex;
	justify-content: center;
}

.letter-tile {
	user-select: none;
	display: flex;
	font-family: Helvetica, sans-serif;
	font-weight: 700;
	font-size: 2em;
	height: 62px;
	width: 62px;
	justify-content: center;
	align-items: center;
	margin: 3px;
}

.letter-tile.empty {
	width: 60px;
	height: 60px;
	margin: 2px;
	border: 2px solid #3A3A3C;
}

.letter-tile.incorrect {
	background-color: #3A3A3C;
}

.letter-tile.correct {
	background-color: #538D4E;
}

.letter-tile.misplaced {
	background-color: #B59F3B;
}

.keyboard {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-wrap: nowrap;
	text-align: center;
	max-width: 100vw;
	height: auto;
	user-select: none;
}

.keyboard-key {
	border: none;
	border-radius: 5px;
	font-family: monospace;
	font-weight: 760;
	background-color: #818384;
	color: white;
	display: inline-block;
	margin: 2px;
	padding: 13px;
	height: 7vh;
	cursor: pointer;
}

.keyboard-key.incorrect {
	background-color: #3A3A3C;
}

.keyboard-key.misplaced {
	background-color: #B59F3B;
}

.keyboard-key.correct {
	background-color: #538D4E;
}